body.html
{
    overflow-x:hidden;
   
}
body
{
    background-color: white;
}
.banner
{
    background-color: darkblue;
    height: 300px;
    width:100% ;
    margin:0px 0px 0px 10px;
    /* background-image: url("./pix3.jpg"); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%
}
p
{
    position: relative;
    top:10px;
    font-size: 17px;
    left: 0px;
    text-align: justify;
    color: black;
}
h6
{
    position: relative;
    top:0px;
    font-size: 20px;
    left: 100px;
    text-align: center;
}
h1
{
    position: relative;
    top:10px;
    font-size: 30px;
    left: 50px;
    text-align: center;
}
.my-content4
{
    color:black;
    position: relative;
    top: -2px;
    left: 7px;
}
.my-content4 p
{
    position: relative;
    color: rgb(110, 138, 132);
    left: 40px;
    width: 800px;
    text-align: center;
    
}
.genricbanner
{
    background-color: rgb(8, 8, 68);
    height: 400px;
    width:100%PX ;
    
    background-image: url("./images\ \(2\).jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%
}
.my-genericlogo
{
    
    position: relative;
    top: 2px;
    left: 0;
    font-size: 17px!important;
    color: gray;
    font-style: italic;
    font-family:  Arial, sans-serif;
    display: inline-block;
   
}
 nav a
{
    color: rgb(12, 9, 9);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left:500px;
    padding:10px 0px 10px 10px;
    margin-left: 50px;
    transition: all 1s;
   
   
}
 nav a:hover
{
    background-color: orange;
     border-radius: 10px; 
    padding: 5px;
} 
nav
{
    padding: 0px 0px 0px 0px;
    

}

.a-right

{
    /* display: inline-block; */
    padding: 0px 0px 40px 0px;
    position: relative;
    margin-top: 5px;
    margin-left: 329px;
    

}
.banner1
{
    background-color: rgb(234, 234, 245);
    height: 300px;
    width:100% ;
    margin:0px 0px 0px 10px;
    /* background-image: url("./pix4.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: 100%
}
.elementbanner
{
    position: relative;
    top: 10px;
     background-color: rgba(199, 191, 191, 0.856);
    height: 200px;
    width:100%PX ;
   padding: 4px 17px 0px 10px;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: 100%;
    border-radius: 5px 0px 0px 0px;
}
.my-content p {
    position: relative;
    top: -5px;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    /* left: 10px; */
    width: 100%;
    text-align: left;

}
.my-content1 p {
    position: relative;
    top: -5px;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    /* left: 10px; */
    width: 100%;
    text-align: left;

}
/* a
{
    color:black;
    text-decoration: none;
    font-size: 20px;
    left:100px;
    /* padding:10px 0px 10px 10px; 
    margin-left: 20px;
    
} */
.wwa1
{
    position: relative;
    text-align: justify;
    font-weight: 200px;
    font-family:Bookman Old Style;
    margin: 0px 5px 10px 20px;
}
.wwa
{
    position: relative;
    text-align: justify;
    font-weight: 200px;
    font-family:Bookman Old Style;
    margin: 0px 5px 10px 20px;
}
.wwa div
{
    position: relative;
    top:10px;
     width: 400px;
     display: inline-block
    
}
.wwa h1
{
    font-size: 40px;
    margin-top: 5px;
}
.wwa button{
    border: 1px solid orange;
    border-radius: 10px;
    padding: 10px 15px 10px 25px;
    background: transparent;
    color: black;
    transition: all 1s;
}
.wwa button:hover
{
    background-color: orange;
}
.genricbanner2
{
    background-color: rgb(8, 8, 68);
    height: 200px;
    width:500PX ;
    
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: 100%
    
}
 .genricbanner2 div
{
    background-color: rgb(8, 8, 68);
    height: 200px;
    width:300PX ;
    /* text-decoration: none; */
     background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    display: inline-block;
} 
.elementbanner1
{
   
    position: relative;
    top: 10px;
    /* background-color:white; */
    height: 200px;
    width:300px ;
    text-decoration: none;
   /* padding: 4px 17px 0px 10px; */
    /* background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    /* border-radius: 5px 0px 0px 0px; */
    
}

.icon 
{
    height: 100px;
    width:158px;
    position: relative;
    left: 343px;
    top: 36px;

    font-size:50px;
    text-rendering:auto;
    -webkit-font-smoothing: antialiased;
}
 
.my-contentb1
{
    color: darkgray;
    position: relative;
    top: 50px;
    left: 230px;
}
.my-contentb1 p {
    position: relative;
    top: -5px;
    left: 15px;
    width: 800px;
    text-align: center;

}

.my-contentb1 button
{
    position: relative;
    top:5px;
    left: 340px;
    border-radius: 20px solid rgb(117, 65, 74);
    size:2000px;
    /* border-radius:20px; */
    padding: 10px 20px 10px 20px;
    background:transparent;
    color:white;
    transition: all 1s;

} 

.my-contentb1 button:hover
{
    background-color: rgb(167, 10, 10);
}
.my-contentb1 h1
{
    position: relative;
    top: 17px;
    font-size: 40px;
    left: 105px;
}
