.bannerr
{
    background-color: darkblue;
    height: 500px;
    width:100% ;
    margin:148px 0px 50px 0px;
    background-image: url("./pix4.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%
}
.my-contentb
{
    color: white;
    position: relative;
    top: 50px;
    left: 230px;
}
.my-contentb p {
    position: relative;
    top: -5px;
    left: 15px;
    width: 800px;
    text-align: center;

}

.my-contentb button
{
    position: relative;
    top:5px;
    left: 340px;
    border-radius: 20px solid rgb(117, 65, 74);
    size:2000px;
    /* border-radius:20px; */
    padding: 10px 20px 10px 20px;
    background:transparent;
    color:white;
    transition: all 1s;

} 

.my-contentb button:hover
{
    background-color: rgb(167, 10, 10);
}
.my-contentb h1
{
    position: relative;
    top: 17px;
    font-size: 40px;
    left: 105px;
}

.aw {
    position: relative;
    top: -59px;
    margin-left: 37px;
    text-align: right;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 200px;
    font-family: Bookman Old Style;
    display: inline-block;
}

.aw .div1 {
    width: 500px;
    display: inline-block;
    margin-left: 40px;
  
}

.aw1 {
    width: 400px;
    position: relative;
    top: 20px;
    margin-left: 50px;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 200px;
    font-family: Bookman Old Style;
    display: inline-block;
    
}
.aw1 img
{
    height: 200px;
    width: 200px;
    border-radius:100%;
    border: skyblue;
    position: relative;
    top: 20px;
}

.aw1 div {
    width: 450px;
   
}

.aw1 p
{
    position: relative;
    left: 20px;
    text-align: left;
    
}

.aw1 h1
{
    position: relative;
    left: 20px;
    text-align: left;
    
}
.aa 
{
    width: 200px;
    position: relative;
    top: 20px;
    margin-left: 10px;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 200px;
    font-family: Bookman Old Style;
    display: inline-block;
}

.aa div{
    width: 100px;
}
.aa img
{
    height: 200px;
    width: 200px;
    border-radius:100%;
    border:5px solid gray;
    position: relative;
    top: 20px;
    left:40px;
   
}

.aaa {
    width: 400px;
    position: relative;
    top: 20px;
    margin-left: -10px;
    /* text-align: center; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 200px;
    font-family: Bookman Old Style;
    display: inline-block;
    
}
/* .aww img
{
    height: 200px;
    width: 200px;
    border-radius:100%;
    border: skyblue;
    position: relative;
    top: 20px; */
}

.aaa div {
    width: 450px;
   
}

.aaa p
{
    position: relative;
    left: 20px;
    text-align: right;
    
}

.aaa h1
{
    position: relative;
    left: 20px;
    text-align: right;
    
}